* {
    padding: 0 !important;
    margin: 0 !important;
}

nav {
    background-color: #333 !important;
}

nav div a{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

nav div a h1{
    margin-left: 0.5em !important;
}

nav h3 {
    color: white !important;
}

/* nav ul a:hover {
    filter: brightness(70%) !important;
    transition: 0.3s !important;
    color: #808080 !important;
} */

#mynavbar ul {
    margin: 1em !important;
}

nav form {
    width: 50% !important;
}

nav form input,
nav form button {
    padding: 0.2em !important;
}

.buts {
    background-color: aqua !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;

}

.butMenu {
    background-color: #0d6efd !important;
    display: flex !important;
    flex-direction: row !important;
    padding: 0.5em !important;
    border-radius: 0.5em !important;
    border: 2px solid #333 !important;
}

.livros {
    display: flex !important;
    flex-direction: row !important;
    background-color: aqua !important;

}

.livro {
    margin: 1em !important;
    border: 2px solid black !important;
    border-radius: 1em !important;
    box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.5);
    display: flex !important;
    width: 300px !important;
    height: 430px !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden !important;
}

.livro a {
    text-decoration: none !important;
    color: black !important;
}

.card-title {
    height: 200px !important;
    width: 300px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #333 !important;
    color: white !important;
    text-align: center !important;
}

.card-text {
    text-align: center !important;
}

.card-text h5:nth-child(3),
.card-text h5:nth-child(4),
.card-text h5:nth-child(5) {
    color: white !important;
    background-color: #333 !important;
    text-align: center !important;
    margin: 0.5em !important;
    border: 2px solid black !important;
    border-radius: 1em !important;
}

footer {
    background-color: #333 !important;
    text-align: center !important;
    color: white !important;
}

@media (max-width: 767px) {
    
    nav form {
        margin: auto !important;
        width: 80% !important;
    }

}