* {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    background-color: #333 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    padding-bottom: 0.5em !important; 
}

.img {
    display: block !important;
}

.title {
    color: white !important;
}

main {
    /* background-color: aqua !important; */
    text-align: center !important;
    margin-top: 5% !important;
    /* margin-bottom: 15% !important;    */
}

main h2 {
    font-size: 4em !important;
}

main form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

main p {
    color: red !important;
}

form input {
    /* max-width: 50% !important; */
    margin: 0.8em !important;
    border: 1px solid black !important;
    border-radius: 1em !important;
    padding: 0.5em !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden !important;
}

button {
    padding: 0.5em 1em 0.5em 1em !important;
    border-radius: 1em !important;
    background-color: #001AFF !important;
    color: white !important;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #333 !important;
    color: white !important;
    text-align: center !important;
}

footer p {
    margin-top: 0.1em !important;
}