{%extends 'index.html'%}

{% load static %}

{%block title%}
    Administrador
{%endblock%}

{%block menu%} 
    <!-- <a class="nav-link" href="{%url 'logout'%}">
        <img class="me-2" src="{%static 'img/sair.png'%}" alt="Sair">
        <h3>Sair</h3>
    </a> -->
    <div class="buts">
        <form action="">
            <button class="butMenu">
                <img src="{%static 'img/But.png'%}" alt="">
            </button>
        </form>
        <form action="{%url 'logout'%}" method="post">
            {%csrf_token%}
            <button class="butMenu" type="submit">
                <img class="me-2" src="{%static 'img/sair.png'%}" alt="Sair">
                <h3>Sair</h3>
            </button>
        </form>
    </div>
{%endblock%}

{%block content%}
    <div class="container-fluid">
        <div class="row livros justify-content-center">
        {% for livro in livros %}
            <div class="card livro">
                <div class="card-body">
                    <h1 class="card-title">{{livro.título}}</h1>
                    <div class="card-text">
                        <h5>{{livro.autor}}</h5>
                        <h5>{{livro.ano}}</h5>
                        <h5>{{livro.get_gênero_1_display}}</h5>
                        <h5>{{livro.get_gênero_2_display}}</h5>
                        <h5>{{livro.get_gênero_3_display}}</h5>
                        {%if livro.disponível%}
                            <h6>&#x2705; Disponível</h6>
                        {%else%}
                            <h6>&#x274C; Indisponível</h6>
                        {%endif%}
                        <a href="{%url 'edit-livro' livro.id%}">
                            <img src="{%static 'img/Editar.png'%}" alt="Editar">
                        </a>
                    </div>
                </div>
            </div>
        {% endfor%}
        </div>
    </div>
{%endblock%}